<nav class="flex">
    <div class="project-name flex">
        <p class="title">CRUD on</p>
        <img src="./assets/twitter.png" alt="" class="twitter-icon">
    </div>
    <div class="nav-links flex">
        <p class="nav-link selected">Home</p>
        <p class="nav-link">Create</p>
        <p class="mode">
            <span class="square light"></span>
        </p>
    </div>
</nav>