<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/create.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <form class="container flex" action="/comments" method="POST">
        <div class="user-info flex">
            <input type="text" class="user" name="user" placeholder="user" required>
            <input type="text" class="username" name="username" placeholder="username" required>
        </div>
        <div class="input-wrapper flex">
            <img src="/assets/1.png" alt="" class="profile-icon">
            <textarea class="tweet-content" name="comment" id="" placeholder="What's happening?" required></textarea>
        </div>
        <button>Tweet</button>
    </form>

    <script src="/nav.js"></script>

</body>

</html>