:root {
    --primary-color: black;
    --secondary-color: white;
    --accent-color: grey;

    /* background gradient  */

    --primary-gradient-dark: rgb(237, 95, 1);
    --primary-gradient-light: skyblue;
    --secondary-gradient: rgb(33, 33, 33);

    --bg-gradient-tp: var(--primary-gradient-light);
    --bg-gradient-bt: var(--secondary-gradient);

    /* color mode btn */

    --mode-color-light: black;
    --mode-color-dark: rgb(87, 87, 87);

    --mode-color: var(--mode-color-light);

    /* nav link hover color */

    --nav-link-hover-dark: white;
    --nav-link-hover-light: black;

    --nav-link-hover: var(--nav-link-hover-light);
}

.dark-mode {
    --primary-color: white;
    --secondary-color: black;
    --accent-color: grey;

    /* background gradient  */

    --primary-gradient-dark: rgb(237, 95, 1);
    --primary-gradient-light: skyblue;
    --secondary-gradient: rgb(33, 33, 33);

    --bg-gradient-tp: var(--primary-gradient-dark);
    --bg-gradient-bt: var(--secondary-gradient);

    /* color mode btn */

    --mode-color-light: black;
    --mode-color-dark: rgb(87, 87, 87);

    --mode-color: var(--mode-color-dark);

    /* nav link hover color */

    --nav-link-hover-dark: white;
    --nav-link-hover-light: black;

    --nav-link-hover: var(--nav-link-hover-dark);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: 0.10s ease-in-out;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(var(--bg-gradient-tp), var(--bg-gradient-bt));

    height: 100vh;

    padding-top: 70px;
}

h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;

    margin: 10px 0;


}
.bg-dark {
    background-color: rgb(0, 0, 0);
}
.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    background-color: var(--secondary-color);
    padding: 15px 20px;
    font-weight: bold;
    gap: 40px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

a.nav-link {
    font-size: 0.8em;
    color: var(--accent-color);
}

nav a.nav-link:hover {
    color: var(--nav-link-hover);
    cursor: pointer;
}

nav>div:first-child {
    font-weight: bold;
    font-size: 2rem;

    gap: 10px;
}

nav>div:nth-child(2) {
    gap: 20px;

    font-size: 1.5rem;
}

.selected {
    border-bottom: 2px solid var(--primary-color);
}

.mode {
    border: 2px solid black;
    width: 44px;
    height: 24px;
    background-color: var(--mode-color);
    border-radius: 10%;

    position: relative;
    transition: 0.35s ease-in-out;

}

.square {
    position: absolute;
    background-color: rgb(255, 230, 69);

    width: 18px;
    height: 16px;

    left: 2px;
    top: 2px;

    border-radius: 10%;

    transition: 0.35s ease-in-out;

}

.mode:hover {
    cursor: pointer;
}

footer {
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
}
footer .project-name {
    gap: 10px;
}
footer img.twitter-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

@media screen and (max-width:420px) {
    body {
        padding-top: 140px;

    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}