.tweets-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 2px;
}

.tweet-wrapper {
    width: 70%;
    max-width: 450px;
    margin: 0 auto;
    flex-wrap: nowrap;

    transition: 0.3s ease-in-out;
}

img.profile-icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

img.twitter-icon {
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.tweet-contents {
    flex-direction: column;
    align-items: start;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    font-size: 1rem;
    gap: 0.7em;

    width: 100%;

    padding: 1em 2em;
    margin: 0 auto;
    border-radius: 0.5em;

    box-shadow: 0 0 5px 0px rgba(12, 12, 12, 0.4);

}

.tweet-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tweet-header {
    width: 100%;
    justify-content: space-between;
}

.profile-info {
    gap: 0.5em;
}

.tweet-timing {
    gap: 0.25em;
}

p.username {
    font-weight: bold;
}

p:not(.tweet) {
    font-size: 0.8em;
    color: var(--accent-color);
}

.tweet-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-btn {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.642);
}


.delete {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.delete > i {
    font-size: 20px;
    color: black;
}

.delete:hover > i {
    color: white;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

@media screen and (min-width:430px) {
    section.tweets-container {
        height: 80%;

        overflow-y: scroll;
        
    }
    body {
        overflow: hidden;
        height: 100vh;
        padding-top: 70px;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}